<h1> <a href='<%= @bookmark.url %>'> <%= @bookmark.name %> </a> </h1>
<p> <%= @bookmark.desc %> </p>

<a href = '<%= @prev %>' > Previous Bookmark </a> &nbsp; &nbsp; &nbsp; &nbsp;
<a href = '<%= @next %>'> Next Bookmark </a>